{% extends "base.html.twig" %}

{% block title %}Kortlek!{% endblock %}

{% block body %}
    <div class="content">
        <h1>BlackJack Doc</h1>
        <h3>FlowChart</h3>
        <img src="{{ asset('img/playing-cards/blackjack.flowchart.svg') }}" alt="flowchart" />
        <h3>Funktioner</h3>
        <ul>
            <li>play()  - starta spelet och dela kort till både spelare och dealer</li>
            <li>hit()   - Dela ett till kort till spelare</li>
            <li>stand() - behålla spelarens kort och ge dealern kort tills summan poäng blir 17 eller högre.</li>
            <li>new()   - starta om spelet</li>
        </ul>

    </div>
{% endblock %}
