{% extends "base.html.twig" %}

{% block title %}Kortlek!{% endblock %}

{% block body %}
    <div class="content">
        <h1>Välkommen till BlackJack</h1>
        <a href="game/play" class="btn">Starta Spelet</a>
    </div>
{% endblock %}
