@import url(https://fonts.googleapis.com/css2?family=Arimo&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Arimo, sans-serif;
}

body {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body,
html,
main {
  height: 100%;
}

a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: bolder;
  font-size: 1.2em;
}

header {
  margin-bottom: 20px;
}

nav {
  height: 100px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px #000;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

form input.btn {
  width: 100%;
  text-align: left;
  padding: 0 1rem;
}

.btn {
  min-height: 50px;
  width: 200px;
  border: 0;
  box-shadow: 3px 5px 7px 0 #232323;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn .github {
  background: linear-gradient(45deg, #005dff, #6800ff);
  color: #fff;
}

.waviy {
  position: relative;
}

.waviy > span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #1d1d1d;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

.round {
  border-radius: 50%;
}

.content {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

@media screen and (max-width: 800px) {
  .content.content {
    width: 100%;
  }
}

.content .me-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  justify-content: center;
}

.content .me-box > .text {
  width: 20em;
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: sans-serif;
}

.content .me-box > .image {
  width: 15em;
  height: 15em;
  overflow: hidden;
}

.content .me-box > .image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.report {
  width: 100%;
}

.report .btns {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin: 1em;
}

.report .report-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.report .report-list .item {
  min-height: 500px;
  padding: 1em;
  background-color: #fff9d9;
}

.report .report-list .item > h1 {
  text-align: center;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  margin-top: auto;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  height: 20em;
  width: 15em;
  display: flex;
  justify-content: space-between;
  background: antiquewhite;
  padding: 0.5em;
  border-radius: 0.5em;
}

.card.hidden-card {
  background-image: url("../../public/img/playing-cards/playing-card-back.svg");
  background-size: 100%;
  background-color: #ffbf6b;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .card-left img,
.card .card-right img {
  height: 1.5em;
}

.card .card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .card-middle {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-size: 5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card .card-middle > img {
  width: 100%;
}

.card .card-middle img.symbol {
  width: 2.5rem;
}

.card .card-right {
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.card .card-right > h2 {
  transform: rotate(180deg);
}

.card.hearts, .card.diamonds {
  color: #ff2c5e;
}

.blackjack-playground {
  height: 70vh;
  width: 100%;
  background: linear-gradient(45deg, #4caf50, #009688);
  border-radius: 2em;
}

.blackjack-playground .dealer,
.blackjack-playground .player {
  display: flex;
  flex-direction: row;
  height: 40%;
  overflow: hidden;
  justify-content: center;
}

.blackjack-playground .dealer .cards-hand,
.blackjack-playground .player .cards-hand {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blackjack-playground .dealer .cards-hand .card,
.blackjack-playground .player .cards-hand .card {
  height: 12em;
  width: 9em;
  margin-left: 5em;
  position: relative;
  box-shadow: 0 0 5px black;
}

.blackjack-playground .dealer .cards-hand .card .card-middle img.symbol,
.blackjack-playground .player .cards-hand .card .card-middle img.symbol {
  width: 1rem;
}

.blackjack-playground .dealer .cards-hand .card .card-left img,
.blackjack-playground .dealer .cards-hand .card .card-right img,
.blackjack-playground .player .cards-hand .card .card-left img,
.blackjack-playground .player .cards-hand .card .card-right img {
  height: 1em;
}

.blackjack-playground .dealer .cards-hand .card:nth-child(even),
.blackjack-playground .player .cards-hand .card:nth-child(even) {
  transform: rotate(5deg);
}

.blackjack-playground .dealer .cards-hand .card:nth-child(odd),
.blackjack-playground .player .cards-hand .card:nth-child(odd) {
  transform: rotate(-5deg);
}

.blackjack-playground .dealer .cards-hand .card:not(:first-child),
.blackjack-playground .player .cards-hand .card:not(:first-child) {
  margin-left: -100px;
}

.blackjack-playground .dealer .info,
.blackjack-playground .player .info {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.5em;
}

.blackjack-playground .dealer .info .counter,
.blackjack-playground .player .info .counter {
  height: 50px;
  width: 50px;
  background-color: #ffffff45;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackjack-playground .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.blackjack-playground .buttons .btn {
  display: flex;
  gap: 0.5em;
}

.blackjack-playground .buttons .btn > i {
  font-size: 1.5em;
}

.blackjack-playground .buttons .message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  box-shadow: inset 0px 20px 20px 0px #000000;
}

.blackjack-playground .buttons .message.dealer {
  background: linear-gradient(90deg, #ff0000, white);
}

.blackjack-playground .buttons .message.push {
  background: linear-gradient(90deg, #00d0ff, white);
}

.blackjack-playground .buttons .message.player {
  background: linear-gradient(90deg, #33ff00, white);
}

.book-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.book-list li {
  height: 4rem;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  background-color: #efefef;
  align-items: center;
  justify-content: space-between;
}

.skitgubbe {
  height: 100%;
  width: 100%;
  background: linear-gradient(109deg, #00F0FF, #A5A8FF);
}

.skitgubbe .computer, .skitgubbe .player {
  height: 40%;
}

.skitgubbe .board {
  height: 20%;
}

.skitgubbe .card {
  height: 8em;
  width: 6em;
  position: relative;
  box-shadow: 0 0 5px black;
}

.skitgubbe .card .card-middle img.symbol {
  width: 0.5rem;
}

.skitgubbe .card .card-middle {
  gap: 0.3rem;
  padding: 0.1rem;
}

.skitgubbe .card .card-middle h1 {
  font-size: 3rem;
}

.skitgubbe .card .card-left img,
.skitgubbe .card .card-right img {
  height: 1em;
}

.skitgubbe .card[selected] {
  box-shadow: 0 0 5px 5px #ff1000;
}

.skitgubbe .card:nth-child(even) {
  transform: rotate(5deg);
}

.skitgubbe .card:nth-child(odd) {
  transform: rotate(-5deg);
}

.skitgubbe .card:not(:first-child) {
  margin-left: -50px;
}

.skitgubbe .visible-cards .card:nth-child(even), .skitgubbe .hidden-cards .card:nth-child(even) {
  transform: unset;
}

.skitgubbe .visible-cards .card:nth-child(odd), .skitgubbe .hidden-cards .card:nth-child(odd) {
  transform: unset;
}

.skitgubbe .visible-cards .card:not(:first-child), .skitgubbe .hidden-cards .card:not(:first-child) {
  margin-left: 1rem;
}

.skitgubbe .floor-cards {
  position: relative;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skitgubbe .floor-cards .hidden-cards, .skitgubbe .floor-cards .visible-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.skitgubbe .floor-cards .hidden-cards {
  bottom: 0.5rem;
}

.skitgubbe .cards-hand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.skitgubbe .cards-hand.stack .card:not(:first-child) {
  margin-left: -96px;
}

.skitgubbe .cards-hand.stack-show .card:not(:first-child) {
  margin-left: -80px;
}

.skitgubbe .board {
  display: flex;
  flex-direction: row;
}

.skitgubbe .result-banner {
  position: fixed;
  height: 10rem;
  width: 100%;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ff4d00;
}

.skitgubbe .result-banner.win {
  background-color: #00ff87;
}

.skitgubbe .result-banner input {
  height: 2rem;
  width: 20rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.skitgubbe-header {
  width: 100%;
  height: 2rem;
  background-color: #a7f8ff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

input {
  height: 2rem;
  width: 20rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
/*# sourceMappingURL=app.css.map */