{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="content">
        <h1>About MVC</h1>
        <div class="me-box">
            <div class="text">
                Model-View-Controller (MVC) är ett arkitekturmönster som används inom systemutveckling.
                I komplexa datorapplikationer kan det vara lämpligt att separera data (Model) och
                presentation (View) så att inte datahanteringen får konsekvenser på grund av förändringar i
                presentationslagret, samt att data kan omorganiseras utan att behöva ändra i presentationslagret.
                MVC löser detta problem genom att separera data och affärslogiken från presentationen och användarinteraktionen,
                genom att introducera en mellanliggande komponent: Controllern.
                <br>
                Från: Wikipedia
            </div>
            <div class="image">
                <img src="{{ asset('img/mvc.jpg') }}" alt="me">
            </div>
        </div>
        <a href="https://github.com/dbwebb-se/mvc/" class="btn github">Krusens Repo</a>
        <a href="https://github.com/asili2001/MVC" class="btn github">Min Repo</a>
    </div>
{% endblock %}