{% extends "base.html.twig" %}

{% block title %}Kortlek!{% endblock %}

{% block body %}
    <div class="content">
        Api
        <a href="/api/quote" class="btn">Random Quote</a>
        <a href="/card/deck?reset=true" class="btn">Nya kortlek utan Jokers</a>
    </div>
{% endblock %}