{% extends "base.html.twig" %}

{% block title %}Hej!{% endblock %}

{% block body %}
    <div class="content">
        <h1>Home</h1>
        <div class="me-box">
            <div class="text">
                My name is Ahmad Asili. I am 21 years old and spend most of my time developing web applications.</b>
                Sometimes this is done out of my own curiosity and other times for small businesses with the purpose of scalability and business growth.</b>
                In my free time, I usually workout, play video games or maybe cook :)</b>
            </div>
            <div class="image round">
                <img src="{{ asset('img/me.jpg') }}" alt="me">
            </div>
        </div>
    </div>
{% endblock %}