{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="content">
        <h1>Report</h1>
        <div class="report">
            <div class="btns">
                <a href="#kmom01" alt="kmom01" class="btn">Kmom01</a>
            </div>
            <div class="report-list">
                <div class="item" id="kmom01">
                    <h2>Kmom01</h2>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}