{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="content">
        <h1>Report</h1>
        <div class="report">
            <div class="btns">
                <a href="#kmom01" alt="kmom01" class="btn">Kmom01</a>
            </div>
            <div class="report-list">
                <div class="item" id="kmom01">
                    <h2>Kmom01</h2>
                    <p>
                        I KMOM01 fick vi börja använda Symfony, vilket är ett PHP-ramverk som följer en modell-visning-kontroll (MVC)-arkitektur.
                        Tidigare har jag arbetat med MVC i PHP och skapat en app-skeleton från scratch, vilket finns i min GitHub-repo.
                        Däremot har jag inte använt Symfony tidigare.
                        Kodstrukturen är väldigt användarvänlig, men jag anser att Symfony gör det ännu enklare att skapa applikationer med bra struktur,
                        vilket kan upplevas som en nackdel då man inte nödvändigtvis förstår vad som händer bakom kulisserna.
                        Personligen föredrar jag att förstå vad jag sysslar med innan jag använder ett ramverk och skulle därför föredra att köra "vanilla PHP", 
                        vilket gör att man förstår allt man gör.
                        Det som intresserade mig mest i artikeln "PHP The Right Way" var delen om "Web Application Security".
                        Det är mycket viktigt med säkerhet i en webbapplikation eftersom det finns personer som är redo att hacka in i din applikation.
                        Min TIL för detta kursmoment är att jag har fått testa på Symfony.

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}